BODY {
	PADDING-RIGHT: 0px;
	PADDING-LEFT: 0px;
	BACKGROUND: #E6E6E6;
	PADDING-BOTTOM: 0px;
	MARGIN: 10px 0px;
	FONT: 0.8em "Trebuchet MS", helvetica, sans-serif;
	PADDING-TOP: 20px;
	TEXT-ALIGN: center;
}

DIV#conteneur {
	BORDER-RIGHT: #000 2px solid; 
	BORDER-TOP: #000 2px solid; 
	BACKGROUND: #fff; 
	MARGIN: 0px auto; 
	BORDER-LEFT: #000 2px solid; 
	WIDTH: 800px; 
	BORDER-BOTTOM: #000 2px solid; 
	TEXT-ALIGN: left
}

H1#header {
	MARGIN: 0px; 
}

UL#menu {
	PADDING-RIGHT: 0px; 
	PADDING-LEFT: 0px; 
	BACKGROUND: url(../images/bg_menu.gif) repeat-x 0px -5px; 
	PADDING-BOTTOM: 0px; 
	MARGIN: 0px; 
	PADDING-TOP: 0px; 
	LIST-STYLE-TYPE: none; 
	HEIGHT: 35px
}

UL#menu LI {
	FLOAT: left; 
	TEXT-ALIGN: center
}

UL#menu LI A {
	BORDER-RIGHT: #fff 2px solid; 
	DISPLAY: block; 
	FONT-WEIGHT: bold; 
	FONT-SIZE: 1.2em; 
	WIDTH: 200px; 
	COLOR: #fff; 
	LINE-HEIGHT: 28px; 
	LETTER-SPACING: 2px; 
	TEXT-DECORATION: none
}

UL#menu LI A:hover {
	BACKGROUND: url(bg_menu.gif) repeat-x 0px 0px
}

DIV#contenu {
	PADDING-RIGHT: 30px; 
	PADDING-LEFT: 40px; 
	PADDING-BOTTOM: 0px; 
	PADDING-TOP: 0px
}
DIV#contenu H2 {
	PADDING-LEFT: 35px;
	FONT-SIZE: 1.4em;
	BACKGROUND: url(../images/puce.png) no-repeat left bottom;
	BORDER-TOP: #0B4C8E 1px solid;
	COLOR: #0B4C8E;
	LINE-HEIGHT: 25px;
	BORDER-BOTTOM: #0B4C8E 1px solid;
}
DIV#contenu H3 {
	TEXT-INDENT: 2em; 
	FONT-SIZE: 1em;
	COLOR: #000;
}
DIV#contenu P {
	TEXT-INDENT: 2em; 
	LINE-HEIGHT: 1.2em; 
	TEXT-ALIGN: justify
}
DIV#contenu A {
	COLOR: #0B4C8E;
	FONT-WEIGHT: bold
}
DIV#contenu A:hover {
	COLOR: #0B4C8E;
	FONT-WEIGHT: bold
}
P#message {
	MARGIN: 0px; 
	MARGIN-BOTTOM: 10px; 
	COLOR: #ff0000; 
	LINE-HEIGHT: 30px; 
	TEXT-ALIGN: center;
	FONT-SIZE: 1.1em;
	FONT-WEIGHT: bold
}
P#legende {
	PADDING-RIGHT: 10px; 
	MARGIN: 0px; 
	MARGIN-BOTTOM: 10px; 
	LINE-HEIGHT: 30px; 
	TEXT-ALIGN: center;
	FONT-SIZE: 1em;
	FONT-WEIGHT: bold
}
P#footer {
	PADDING-RIGHT: 0px; 
	PADDING-LEFT: 0px; 
	BACKGROUND: url(../images/bg_footer.gif) repeat-x 0px 0px; 
	PADDING-BOTTOM: 0px; 
	MARGIN: 0px; 
	PADDING-TOP: 5px; 
	HEIGHT: 28px;
	TEXT-ALIGN: center;
	DISPLAY: block; 
	FONT-WEIGHT: bold; 
	FONT-SIZE: 1.2em;
	COLOR: #fff; 
	LINE-HEIGHT: 28px; 
	LETTER-SPACING: 2px; 
	TEXT-DECORATION: none
}
PRE {
	BORDER-RIGHT: #9b2 2px solid; 
	PADDING-RIGHT: 0px; 
	BORDER-TOP: #9b2 2px solid; 
	PADDING-LEFT: 5px; 
	FONT-SIZE: 1.2em; 
	BACKGROUND: #dea; 
	PADDING-BOTTOM: 0px; 
	OVERFLOW: auto; 
	BORDER-LEFT: #9b2 2px solid; 
	PADDING-TOP: 5px; 
	BORDER-BOTTOM: #9b2 2px solid
}
 HTML PRE {
	WIDTH: 636px
}
PRE SPAN {
	COLOR: #560
}
PRE SPAN.comment {
	COLOR: #b30000
}

.normal {
	font-family: Arial, Helvetica, sans-serif;
	color: black;
	background-color: white;
}

.nonRempli {
	font-family: Arial, Helvetica, sans-serif;
	color: black;
	background-color: #ff9f9f;
}

.incorrect {
	font-family: Arial, Helvetica, sans-serif;
	color: white;
	background-color: red;
}

SPAN {
	HEIGHT: 60px;
}
