html {
	height: 100%;
}
body {
	font: 0.8em Verdana, Arial, Helvetica, sans-serif;
	margin: 0;
	padding: 30px 0 0 0;
	background: -moz-linear-gradient(top, rgb(255, 255, 255), rgb(210, 210, 210));
	background: -webkit-gradient(linear, left top, left bottom, from(rgb(255, 255, 255)), to(rgb(210, 210, 210)));
	background: linear-gradient(to bottom, rgb(255, 255, 255), rgb(210, 210, 210));
}
div#page {
	width: 800px;
	margin: 0px auto;
	padding: 0;
	border: #000 1px solid; 
	text-align: left;
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;
	-o-border-radius: 15px;
	-ms-border-radius: 15px;
	-khtml-border-radius: 15px;
	border-radius: 15px;
	background: -moz-linear-gradient(top, rgb(255, 255, 255), rgb(210, 210, 210));
	background: -webkit-gradient(linear, left top, left bottom, from(rgb(255, 255, 255)), to(rgb(210, 210, 210)));
	background: linear-gradient(to bottom, rgb(255, 255, 255), rgb(225, 225, 225));
}
div#header {
	padding: 0; 
	margin: 0;
}
div#header-menu {
	height: 36px;
	padding: 0;
	margin: 0;
	background: #00A3E4;
	-moz-border-radius: 15px 15px 0 0;
	-webkit-border-radius: 15px 15px 0 0;
	-o-border-radius: 15px 15px 0 0;
	-ms-border-radius: 15px 15px 0 0;
	-khtml-border-radius: 15px 15px 0 0;
	border-radius: 15px 15px 0 0;
}
ul#menu-horizontal {
	padding: 0;
	margin: 0;
	height: 36px;
	list-style-type: none; 
}
ul#menu-horizontal li {
	padding: 0;
	margin: 0;
	height: 36px;
	float: left; 
	text-align: center
}
ul#menu-horizontal li a:hover {
	background: #0b4c8e;
}
ul#menu-horizontal li:first-child a:hover {
	-moz-border-radius: 15px 0 0 0;
	-webkit-border-radius: 15px 0 0 0;
	-o-border-radius: 15px 0 0 0;
	-ms-border-radius: 15px 0 0 0;
	-khtml-border-radius: 15px 0 0 0;
	border-radius: 15px 0 0 0;
}
ul#menu-horizontal li a {
	border-right: #fff 2px solid; 
	display: block; 
	font-weight: bold; 
	font-size: 1.2em; 
	width: 200px; 
	color: #fff; 
	line-height: 36px; 
	text-decoration: none
}
div#header-logos {
	padding: 10px 0 0 0; 
	margin: 0;
}
#logo-gauche {
	padding: 0 40px 0 40px;	
	width: 200px;
	height: 70px;
}
#logo-droite {
	padding: 0 40px 0 40px;	
	width: 400px;
	height: 70px;
}
div#footer {
	height: 36px;
	padding: 0; 
	margin: 20px 0 0 0;
	background: #00A3E4;
	-moz-border-radius: 0 0 15px 15px;
	-webkit-border-radius: 0 0 15px 15px;
	-o-border-radius: 0 0 15px 15px;
	-ms-border-radius: 0 0 15px 15px;
	-khtml-border-radius: 0 0 15px 15px;
	border-radius: 0 0 15px 15px;
}
div#footer p {
	padding: 7px 0 0 0;
	text-align: center;
	font-weight: bold; 
	font-size: 1.2em;
	color: #fff; 	
}
div#content {
	
	padding: 10px 30px 0 40px;
	margin: 0;

}
/* menu vertical */
div#menu-vertical {
	padding: 20px 0 20px 0;	
}
/* transformation des liens hypertextes des menus en boutons */
a.bouton-menu {
	font: 1.1em Arial, Helvetica, sans-serif;
	margin: 20px auto;
	display: block;
	width: 300px;
	background: #ccc;
	text-align: center;
	text-decoration: none;
	color: #0b4c8e;
	font-weight: bold;
	padding: 5px;
	-moz-border-radius: 7px;
	-webkit-border-radius: 7px;
	-o-border-radius: 7px;
	-ms-border-radius: 7px;
	-khtml-border-radius: 7px;
	border-radius: 7px;
	background: -moz-linear-gradient(top, rgb(255, 255, 255), rgb(210, 210, 210));
	background: -webkit-gradient(linear, right top, right bottom, from(rgb(255, 255, 255)), to(rgb(210, 210, 210)));
	background: linear-gradient(to bottom, rgb(255, 255, 255), rgb(210, 210, 210));
	text-shadow: 0 1px 0 #fff;
	border: 1px solid rgba(0, 0, 0, 0.1);
	-webkit-box-shadow: 2px 2px 2px 0px rgba(0, 0, 0, 0.3);
	-moz-box-shadow: 2px 2px 2px 0px rgba(0, 0, 0, 0.3);
	-o-box-shadow: 2px 2px 2px 0px rgba(0, 0, 0, 0.3);
	box-shadow: 2px 2px 2px 0px rgba(0, 0, 0, 0.3);
}

/* champs de formulaires */
form p {
	padding: 0;
	margin: 8px 0 0 0;
}
input, select {
	padding-left: 5px;
	border: solid 1px grey;
	width: 400px;
	display: inline-block;
	height: 20px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-o-border-radius: 5px;
	-ms-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px;
}
textarea {
	padding-left: 5px;
	border: solid 1px grey;
	width: 398px;
	display: inline-block;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-o-border-radius: 5px;
	-ms-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px;
}
label {
	width: 200px;
	text-align: left;
	display: inline-block;
}

.label2 {
	position : relative;
	text-align : left;
	width: 75%;
	height : 100%;
	margin : 1% 0 0 10%;
}
.labelImportant {
	color : red;
	position : relative;
	text-align : left;
	width: 75%;
	height : 100%;
	margin : 1% 0 0 10%;
}
#txtAdrMailAdmin2 {
	
	margin : 1% 0 0 10%;
}



select {
	width: 405px;
}
input[type=checkbox] {
	width: 20px;
	height: 15px;
	margin-left: 200px;
}
input[type=radio] {
	width: 30px;
}
input[type=radio]:first-child {
	margin-left: 200px;
}
input[type=submit] {
	font-weight: bold;
	border: solid 1px grey;
	width: 230px;
	height: 25px;
	margin-left: 300px;
	-moz-border-radius: 7px;
	-webkit-border-radius: 7px;
	-o-border-radius: 7px;
	-ms-border-radius: 7px;
	-khtml-border-radius: 7px;
	border-radius: 7px;
	background: -moz-linear-gradient(top, rgb(255, 255, 255), rgb(210, 210, 210));
	background: -webkit-gradient(linear, right top, right bottom, from(rgb(255, 255, 255)), to(rgb(210, 210, 210)));
	background: linear-gradient(to bottom, rgb(255, 255, 255), rgb(210, 210, 210));
}
input[type=text]:invalid , input[type=email]:invalid, input[type=password]:invalid, textarea:invalid {
	background: #fff url(../images/carre-rouge.png) no-repeat 99% center;
}
input[type=text]:valid , input[type=email]:valid, input[type=password]:valid, textarea:valid {
	background: #fff url(../images/carre-vert.png) no-repeat 99% center;
}

/* zone à mettre à jour */
div#content h2 {
	padding-left: 35px;
	font-size: 1.4em;
	background: url(../images/puce.png) no-repeat left bottom;
	border-top: #0b4c8e 1px solid;
	color: #0b4c8e;
	line-height: 25px;
	border-bottom: #0b4c8e 1px solid;
}
div#content h3 {
	text-indent: 2em;
	font-size: 1em;
	color: #000;
	margin-bottom: 20px; 
}
div#content p {
	line-height: 1.2em; 
	text-align: justify;
}
div#content a {
	color: #0b4c8e;
	font-weight: bold;
}
.lien {
	position : relative;
	text-align : left;
	width: 75%;
	height : 100%;
	margin : 1% 0 0 10%;
}
div#content a:hover {
	color: #0b4c8e;
	font-weight: bold;
}
/* fin de la zone à mettre à jour */


/* ------------------------ styles lies au systeme d'affichage de messages ---------------------------- */

/* style du titre du message d'avertissement et son icone */
#affichage_message h2.classe_avertissement {
	padding-left: 50px;
	line-height: 32px;
	background: url(../images/avertissement.png) no-repeat left bottom;
	color: #0b4c8e;
}

/* style du titre du message d'information et son icone */
#affichage_message h2.classe_information {
	padding-left: 50px;
	line-height: 32px;
	background: url(../images/information.png) no-repeat left bottom;
	color: #0b4c8e;
}

/* style du message */
#affichage_message p.classe_texte_message {
	padding-left: 50px;
	font-size: 1.3em;
}

/* style du lien de fermeture */
.classe_message a {
	position: absolute;
	right: 10px;
	top: 10px;
	color: #000;
}

/* mise en forme de la boite d'affichage du message */
.classe_message > div {
	width: 500px;
	background: #fff;
	position: relative;
	margin: 25% auto;
	padding: 30px;
	-moz-border-radius: 7px;
	border-radius: 7px;
	-webkit-box-shadow: 0 3px 20px rgba(0, 0, 0, 0.9);
	-moz-box-shadow: 0 3px 20px rgba(0, 0, 0, 0.9);
	box-shadow: 0 3px 20px rgba(0, 0, 0, 0.9);	
	background: -moz-linear-gradient(#fff, #ccc);
	background: -webkit-gradient(linear, right top, right bottom, from(rgb(255, 255, 255)), to(rgb(210, 210, 210)));
	text-shadow: 0 1px 0 #fff;
}

/* le conteneur qui cache le body */
.classe_message {
	/* overlay page content */
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: rgba(0, 0, 0, 0.3);
	z-index: 10000;
	/* utilisation de la transformation de transparence a l'ouverture */
	-webkit-transition: opacity 500ms ease-in;
	-moz-transition: opacity 500ms ease-in;
	transition: opacity 500ms ease-in;
	/* au chargement de la page */
	opacity: 0;
	pointer-events: none;
}

/* application du masque */
.classe_message:target {
	opacity: 1;
	pointer-events: auto;
}



* {
  margin: 0; padding: 0;
}
.accordion {
  width: 380px;
  margin: 20px auto;
}
.accordion h1, h2, h3, h4 {
  cursor: pointer;
}
.accordion h2, h3, h4 {
  font-family: "News Cycle";
}
.accordion h1 {
  padding: 15px 20px;
  background-color: #333;
  font-family: Lobster;
  font-size: 1.5rem;
  font-weight: normal;
  color: #1abc9c;
}
.accordion h1:hover {
  color: #4afcdc;
}
.accordion h1:first-child {
  border-radius: 10px 10px 0 0;
}
.accordion h1:last-of-type {
  border-radius: 0 0 10px 10px;
}
.accordion h1:not(:last-of-type) {
  border-bottom: 1px dotted #1abc9c;
}
.accordion div, .accordion p {
  display: none;
}
.accordion h2 {
  padding: 5px 25px;
  background-color: #1abc9c;
  font-size: 1.1rem;
  color: #333;
}
.accordion h2:hover {
  background-color: #09ab8b;
}
.accordion h3 {
  padding: 5px 30px;
  background-color: #b94152;
  font-size: .9rem;
  color: #ddd; 
}
.accordion h3:hover {
  background-color: #a93142;
}
.accordion h4 {
  padding: 5px 35px;
  background-color: #ffc25a;
  font-size: .9rem;
  color: #af720a; 
}
.accordion h4:hover {
  background-color: #e0b040;
}
.accordion p {
  padding: 15px 35px;
  background-color: #ddd;
  font-family: "Georgia";
  font-size: .8rem;
  color: #333;
  line-height: 1.3rem;
}
.accordion .opened-for-codepen {
  display: block;
}

